// Styles for the PC header.

.charsheet .sheet-darkerdungeons {

	.sheet-section-pc {

		.sheet-section-pc-footer {

			p {
				color: #cccccc;
				font-size: 9px;
				margin: 3px 0 0;
				text-align: center;

				a {
					color: inherit;

					&:hover {
						text-decoration: none;
						background: $hover-bg;
					}
				}
			}
		}
	}
}

/* 4e Power Roll Template */
.sheet-rolltemplate-dnd4epower table {
    width: 98%;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.sheet-rolltemplate-dnd4epower .sheet-emote {
    color: inherit;
    padding-left: 5px;
    padding-bottom: 5px;
    line-height: 1em;
	font-size: 1em;
    font-style: italic;
    text-align: left;
}

.sheet-rolltemplate-dnd4epower .sheet-power-header {
	color: #ffffff;
    padding-left: 5px;
	line-height: 1.6em;
	font-size: 1.2em;
    text-align: left;
}

.sheet-rolltemplate-dnd4epower .sheet-atwill {
    background-color: #3a7042;
}

.sheet-rolltemplate-dnd4epower .sheet-encounter {
    background-color: #7d0824;
}

.sheet-rolltemplate-dnd4epower .sheet-daily {
    background-color: #333333;
}

.sheet-rolltemplate-dnd4epower .sheet-item {
    background-color: #E6B800;
}

.sheet-rolltemplate-dnd4epower .sheet-other {
    background-color: #000000;
}

.sheet-rolltemplate-dnd4epower .sheet-ability {
    background-color: #483D8B;
}

.sheet-rolltemplate-dnd4epower .sheet-skill {
    background-color: #3A5ECA;
}

.sheet-rolltemplate-dnd4epower .sheet-monster {
    background: -webkit-linear-gradient(left, darkgreen, chartreuse); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, darkgreen, chartreuse); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, darkgreen, chartreuse); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, darkgreen , chartreuse); /* Standard syntax (must be last) */
}

.sheet-rolltemplate-dnd4epower .sheet-subheader-alignright {
    color: #ffffff;
    padding-left: 5px;
	line-height: 1em;
	font-size: 1em;
    text-align: right;
}

/* Odd Row Background (Hex Value #D9D1C7) */
.sheet-rolltemplate-dnd4epower tr:nth-of-type(odd) {
    background: -webkit-linear-gradient(left,rgba(217, 209, 199,1),rgba(217, 209, 199,0.25)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(217, 209, 199,1),rgba(217, 209, 199,0.25)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(217, 209, 199,1),rgba(217, 209, 199,0.25)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(217, 209, 199,1), rgba(217, 209, 199,0.25)); /*Standard*/
}


.sheet-rolltemplate-dnd4epower td {
    color: #000000;
    padding-left: 5px;
	line-height: 1em;
	font-size: 1em;
    text-align: left;
}

.sheet-rolltemplate-dnd4epower .sheet-td-critical {
    color: #3FB315;
    line-height: 1.1em;
    font-size: 1.1em;
}

.sheet-rolltemplate-dnd4epower .sheet-td-red {
    color: #B31515;
}

.sheet-rolltemplate-dnd4epower .sheet-template-bold {
    font-weight: bold;
}

.sheet-rolltemplate-dnd4epower .inlinerollresult  {
    background-color: transparent;
    border: none;
}

.sheet-rolltemplate-dnd4epower .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}

.sheet-rolltemplate-dnd4epower .inlinerollresult.fullfail {
	color: #B31515;
    border: none;
}

.sheet-rolltemplate-dnd4epower .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}
